@page "/carousel"

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

<style>
    .carousel-scroll-wrapper {
        overflow-x: auto;
        white-space: nowrap;
        padding: 2rem;
        background-color: #eeecf1;
    }

    .carousel-item-box {
        display: inline-block;
        width: 140px;
        margin-right: 16px;
        margin-left:10px;
        text-align: center;
        background: white;
        border-radius: 16px;
        padding: 22px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        font-family: 'Lato', sans-serif;

    }
    body a
    {
        text-decoration:none;
        color: #242f66;
    }

    .carousel-item-box img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        margin-bottom: 10px;
    }

    .carousel-item-box p {
        font-size: 0.9rem;
        margin: 0;
        color: #333;
    }

    .carousel-scroll-wrapper::-webkit-scrollbar {
        display:none;
    }

    .carousel-scroll-wrapper {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    a
    {
        text-decoration:none;
    }

</style>

<div class="carousel-scroll-wrapper">
    <div class="carousel-item-box">
        <img src="images/business-cards.png" alt="Business Cards" />
        <br />
        <a href="/product-detail/9">Business Cards</a>
    </div>
    <div class="carousel-item-box">
        <img src="images/flyer.png" alt="Flyers" />
        <br />
        <a href="/product-detail/11">Flyers</a>
    </div>
    <div class="carousel-item-box">
        <img src="images/sticker.png" alt="Custom Stickers" />
        <br />
        <a href="/product-detail/12">Custom Stickers</a>
    </div>
    <div class="carousel-item-box">
        <img src="images/photoalbum.png" alt="Photo Books" />
        <br />
        <a href="/product-detail/14">Photo Books</a>
    </div>
    <div class="carousel-item-box">
        <img src="images/tshirt.png" alt="Canvas Prints" />
        <br />
        <a href="/product-detail/13">Shirts</a>
    </div>
    <div class="carousel-item-box">
        <img src="images/hoise.png" alt="House Graphic" />
        <br />
        <a href="/product-detail/8">House Graphic</a>
    </div>
    <div class="carousel-item-box">
        <img src="images/wedding card.png" alt="Wedding Card" />
        <br />
        <a href="/product-detail/10">Wedding Cards</a>
    </div>
</div>


@code {

}
