
@page "/hero"


<style>
    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 80px;
        background-color: #ceedec;
        position: relative;
        overflow: hidden;
    }

    .hero-text {
        max-width: 50%;
        z-index: 1;
        color: #242f66;
        font-family: 'Merriweather', serif;
    }

    .hero-text h1 {
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 20px;
        font-family: 'Merriweather', serif;

    }

    .hero-text p {
        font-size: 1.5rem;
        color: #555;
        margin-bottom: 30px;
        font-family: 'Lato', sans-serif;

    }

    .hero-text button {
        padding: 12px 28px;
        font-size: 1rem;
        border:1px solid white;
        border-radius: 10px;
        background-color: #03a6a0;
        cursor: pointer;
        color:white;
    }

    .hero-graphics {
        max-width: 45%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .hero-graphics img {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 10px;
    }

    /* decorative circle shapes */
    .shape {
        position: absolute;
        border-radius: 50%;
        opacity: 0.6;
    }

    .shape.red { width: 60px; height: 60px; background: #ff4d4d; top: 20px; left: 20px; }
    .shape.blue { width: 100px; height: 100px; background: #4dcaff; bottom: 0; left: 100px; }
</style>

<div class="hero">
    <div class="hero-text">
        <h1>We provide <br /> <strong>DIGITAL PRINTING</strong> services</h1>
        <p>Business cards, Flyers, brochures, stationeries etc.., and also in house graphic design.</p>
        <button>
            <a href="/aboutus" style="text-decoration:none; color:black">Learn More</a>
        </button>
    </div>

    <div class="hero-graphics">
       
        <img src="/images/—Pngtree—printing service illustration concept _4853463.png" style="width: 100%; height: auto; object-fit: cover; border-radius: 10px;" />
    </div>


    <div class="shape red"></div>
    <div class="shape blue"></div>
</div>
@code {

}
